*{
    margin: 10;
    margin-top: auto;
    
}

body{
    background-color: #000000;
    color: #ffffff;
    margin: 0;
}

header{
    padding: 20px;
    margin-top: auto 0;
    margin: 0;
    
}

nav ul li a{
    color: #00f27e;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

nav ul li a:hover{
    color: #a5e4f2;
    transition: 0.6s;
}

nav ul li{
    margin-left: 14em;
    list-style-type: none;   
    
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8em;   
}

#container-cofre{
    background: linear-gradient(180deg,#56877d 8.33%,rgba(2, 75, 47, 0.745)100%),url(Prancheta\ 1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 15rem;
}

#container-cofre img{   
border-radius: 100px;    
margin: 0;    
margin-top: 0;
margin-left: -13em;    
width: 50em


}


#container-cofre h1{
    margin: 50px;
    font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-left: 1em;    
   color: #1f1c0d;
   padding: -100px
   
   }
   
#container-cofre p{
    font-size: 20em;
    font-size: 20px;
    margin: 70px;
}


.container img{
    width: 150px;
    height: 90px;
    margin-left: -67em;
    border-radius: 100px;
    
    
}



