*{
    margin: 10;
    margin-top: auto;
    
}

body{
    background-color: #0d0e0d;
    color: #ffffff;
    margin: 0;
    background: linear-gradient(180deg,#0f0f0f 8.33%, #caaf2b);
    
}

header{
    padding: 20px;
    margin-top: auto 0;
    margin: 0;
    
}

nav ul li a{
    color: #eff1f7;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

nav ul li a:hover{
    color: #df081a;
    transition: 0.6s;
}

nav ul li{
    margin-left: 14em;
    list-style-type: none;   
    
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8em;   
}

#sobremessa{
    background: linear-gradient(180deg,#1cd81c 8.33%,rgba(23, 224, 39, 0.745)100%),url(Prancheta\ 1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 15rem;
}

#sobremessa img{   
border-radius: 100px;    
margin: 0;    
margin-top: 0;
margin-left: -13em;    
width: 44em


}


#sobremessa h1{
    margin: 50px;
    font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-left: 1em;    
   color: #1f1c0d;
   padding: -100px
   
   }
   
#sobremessa p{
    font-size: 20em;
    font-size: 20px;
    margin: 70px;
}


.container img{
    width: 150px;
    height: 90px;
    margin-left: -67em;
    border-radius: 100px;
    
    
}

.amo{
    align-items: center;
    display: flex;
    padding: 20px;
}

.section{
    display: flex;
    max-width: 2100px;
    margin-bottom: 20px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient(180deg,#11d131 8.33%, #caaf2b);
    
}

.section img{
max-width: 300px;
display: block;
}

.section div{
    margin: 40px;
    flex: 1 1 200px;
}

.section p{
    text-align: center;
    margin-left: -110px;
    color: #0d0c0d;
    font-size: 25px;
}

.leticia img{
    width: 93em;
    height: 40em;
}

.line{
    
    margin: 40 auto;
    width: 100vh
    
    
}

footer{
    padding: 10px;
    margin: 0;
    
}

footer i{
    margin-left:100px;
    font-size: 50px;
    
    
}

.rodape-i{
    color: #0e24e2;
    font-size: 20px;
    padding: 30px;
    margin-left: 21em;
    border-radius: 0px;
    
}

h2{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: #a91295;
    
}






